@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

.layout {
  color: white;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      142deg,
      rgba(22, 60, 255, 1) 25%,
      rgba(255, 124, 194, 1) 47%,
      rgba(73, 247, 177, 1) 68%,
      rgba(70, 252, 172, 1) 100%
    );
    animation: layout-bg 20s linear infinite;
    scale: 4;
    transform-origin: center center;
    z-index: -1;
  }

  .home-nav {
    background: rgb(2, 234, 255);
    background: linear-gradient(150deg, rgba(2, 234, 255, 1) 0%, rgb(0, 102, 254) 100%);

    .nav-heading {
      font-family: 'Fasthand', cursive;
    }
  }
}

@keyframes layout-bg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h-layout {
  min-height: calc(100vh - 64px);
}
