@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
u,
b,
pre,
input,
textarea,
select,
label {
  @apply font-light;
}

::selection {
  color: white;
  background: rgb(8, 212, 212);
}

.layout {
  color: white;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      linear-gradient(
        142deg,
        rgba(22, 60, 255, 1) 25%,
        rgba(255, 124, 194, 1) 47%,
        rgba(73, 247, 177, 1) 68%,
        rgba(70, 252, 172, 1) 100%
      );
    animation: layout-bg 20s linear infinite;
    scale: 4;
    transform-origin: center center;
    z-index: -1;
  }

  .home-nav {
    background: rgb(2, 234, 255);
    background: linear-gradient(150deg, rgba(2, 234, 255, 1) 0%, rgb(0, 102, 254) 100%);

    .nav-heading {
      font-family: 'Fasthand', cursive;
    }
  }
}

@keyframes layout-bg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h-layout {
  min-height: calc(100vh - 64px);
}

.font-hand {
  font-family: 'Fasthand', cursive;
}

.homepage-card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(115px);
}

.switch {
  width: 160px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.4);
  @apply flex items-center justify-start rounded-full p-2 mx-auto mt-3 cursor-pointer;

  &[data-ison='true'] {
    @apply justify-end;

    .handle {
      @apply bg-green-400;
    }
  }

  .handle {
    width: 70px;
    height: 70px;
    @apply bg-slate-200 rounded-full;
  }
}

.pink-dot {
  .parent {
    background: white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .parent[data-isopen='true'] {
    width: 400px;
    height: 200px;
  }

  .child {
    width: 40px;
    height: 40px;
    background: #f107a3;
    border-radius: 50%;
  }
}

.tab {
  background: var(--accent);
  overflow: hidden;
  padding-bottom: 50px;

  .window {
    margin: 0 auto;
    width: 480px;
    height: 360px;
    border-radius: 10px;
    background: white;
    overflow: hidden;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    display: flex;
    flex-direction: column;
  }

  nav {
    background: #fdfdfd;
    padding: 5px 5px 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #eeeeee;
    height: 44px;
  }

  .tabs {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
    flex-grow: 1;
    user-select: none;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: black;
  }

  ul {
    display: flex;
    width: 100%;
  }

  li {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 10px 15px;
    position: relative;
    background: white;
    cursor: pointer;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 0;
    position: relative;
    user-select: none;
  }

  .underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--accent);
  }

  li.selected {
    background: #eee;
  }

  li button {
    width: 20px;
    height: 20px;
    border: 0;
    background: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #000;
    margin-left: 10px;
    cursor: pointer;
    flex-shrink: 0;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
  }

  .add-item {
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    align-self: center;
  }

  .add-item:disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }
}
